@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dented Universe</h1>
    <p class="lead">Fostering innovations that change the universe one idea at a time.</p>
    <p><a href="About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Transportation</h2>
        &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<img src="~/Images/car.jpg" />
        <br /><br />
        <p>
            On June 4, 1896 in a tiny workshop behind his home on 58 Bagley Street, Ford put the finishing touches on his pure ethanol-powered motor. After more than two years of experimentation, Ford, at the age of 32, had completed his first experimental automobile. 
        </p>
        <p><a class="btn btn-default" href="http://en.wikipedia.org/wiki/Ford_Quadricycle">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>As Quiet as a Mouse</h2>
        &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<img src="~/Images/mouse.jpg" />
        <br /> <br />
        <p>Though the mouse didn't become the standard way to control a desktop computer until Apple released the Macintosh in 1984, it was first invented 20 years earlier by a visionary World War II veteran named Douglas C. Engelbart.</p>
        <p><a class="btn btn-default" href="http://www.computinghistory.org.uk/det/613/the-history-of-the-computer-mouse/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mobile Technology</h2>
        &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<img src="~/Images/steve.jpg" />
        <br /> <br />
        <p>Cell phones have been around for several decades now. Smart devices such as the Compaq iPAQ made an entry in the late 90's. Sometimes an idea is born and forever changes the landscape.  </p>
        <p><a class="btn btn-default" href="http://en.wikipedia.org/wiki/History_of_the_iPhone">Learn more &raquo;</a></p>
    </div>
</div>